{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div>

    <form class ="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div >
            <label for="username" class= "control-label">{{ 'Login'|trans }}</label>
        </div>
        <div>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
        </div>
        <div>
            <label for="password" class= "control-label">{{ 'Password'|trans }}</label>
        </div>
        <div>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me" class= "control-label">{{ 'Remember Me'|trans }}</label>
        </div>
        <input type="submit" class ="btnLog" id="_submit" name="_submit" value="{{ 'Send'|trans }}"/>
        <div>
            <a class="login-link" href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
        <div>
     </form>
</div>

